{% extends "common/base.html" %}

{% block page_content %}
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="icon-coffee"></i>{{ pageTitle }}</div>
    </div>
    <div class="portlet-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="span1">#</th>
                <th class="span2">姓名</th>
                <th class="span3">手机号</th>
                <th class="span2">学校</th>
                <th class="span2">邮箱</th>
                <th class="span2">招聘会</th>
                <th class="span2">职位</th>
                <th class="span2">文件名</th>
                <th class="span2">大小(KB)</th>
                <th class="span2">上传时间</th>
                <th class="span3">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for key, row in data %}
            <tr>
                <td>{{ key+1 }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.telephone }}</td>
                <td>{{ row.school }}</td>
                <td>{{ row.email }} </td>
                <td>{% if jobFairs[row.fair_id][title] is empty %}社会招聘{% else %}{{ jobFairs[row.fair_id][title] }}{% endif %}</td>
                <td>{{ jobNames[row.job_id] }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.size }}</td>
                <td>
                    {{ row.dateline }}
                </td>
                <td>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}

