{% extends "common/base.html" %}

{% block page_content %}
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> {{ pageTitle }}
                <div class="btn-group pull-right">
                    <a class="btn btn-success mini dialogDo" href="javascript:void(0);"  data-container="container" data-href="/admin/fair-edit.html">新增</a>
                </div>
            </div>
            <div class="card-block">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="span1">#</th>
                        <th class="span2">标题</th>
                        <th class="span2">描述</th>
                        <th class="span2">开始时间</th>
                        <th class="span5">结束时间</th>
                        <th class="span2">地区</th>
                        <th class="span2">宣讲地点</th>
                        <th class="span2">招聘会类型</th>
                        <th class="span2">显示状态</th>
                        <th class="span3">更新时间</th>
                        <th class="span3">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, row in data %}
                    <tr>
                        <td>{{ key+1 }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.desc }}</td>
                        <td>{{ row.stime }}</td>
                        <td>{{ row.etime }}</td>
                        <td>{{ row.zone }}</td>
                        <td>{{ row.place }}</td>
                        <td>{% if row.type==1 %}校园招聘 {% else %}社会招聘{% endif %}</td>
                        <td>{% if row.show == 1 %}<label class="label label-success">显示</label>{% else %}<label class="label">隐藏</label>{% endif %}</td>
                        <td>{{ row.dateline|date('Y-m-d H:i:s') }}</td>
                        <td>
                            {% if row.show == 1 %}
                            <a class="btn mini ajaxDo" data-refresh="true"  href="javascript:void(0);" data-href="/admin/fair-show.html?id={{ row.id }}&status=0" title="确认隐藏？">隐藏</a>
                            {% else %}
                            <a class="btn mini btn-success ajaxDo" data-refresh="true" href="javascript:void(0);" data-href="/admin/fair-show.html?id={{ row.id }}&status=1" title="确认显示？">显示</a>
                            {% endif %}
                            <a class="btn mini btn-info dialogDo"  data-container="container" data-refresh="true" href="javascript:void(0);" data-href="/admin/fair-edit.html?id={{ row.id }}">编辑</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<!-- END EXAMPLE TABLE PORTLET-->
{% endblock %}
{% block pager %}
{% include 'common/pager.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {

    })
</script>
{% endblock %}

