<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" auto-close="true">&nbsp;</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <form action="/admin/recruit-op.html?action=save" class="form-horizontal ajax-form" method="post">
                        <input type="hidden" name="id" value="{{ id }}">
                        <div class="row" id="status_select">
                            <label class="control-label">修改简历状态为：</label>
                            {% for k, v in applyStatus %}
                            {% if k == -8 or k == -1  %}
                            <div class="col-lg-5">
                                {% endif %}
                                <div class="control-group">
                                    <div class="controls">
                                        <input name="status" type="radio" class="input-mini mini" value="{{ k }}" {% if data.status==k  %}checked{% endif %}> {{ v }}
                                    </div>
                                </div>
                                {% if k == -2 or k == 5 %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="control-group">
                            <label class="control-label">微信进程信息反馈如下 :</label>
                            <div class="controls">
                                <textarea id="remarks_desc" name="remarks">{{ data.remarks }}</textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn blue submitDo" data-refresh="true">提交</button>
                            <button type="button" data-dismiss="modal" class="btn">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        Editor.basic('remarks_desc');

        var remarksString = {% autoescape false %}'{{ remarks }}'{% endautoescape %};
        var remarks = JSON.parse(remarksString);
        $("#status_select").on('click', 'input[name="status"]', function () {
            var val = $(this).val();
            console.log(val, remarks[val]);
            $('#remarks_desc').text(remarks[val]);
        });
    })
</script>
