<li class="nav-title">
    招聘相关
</li>

<li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> 用户管理</a>
    <ul class="nav-dropdown-items">
        <li class="nav-item">
            <a class="nav-link" href="/admin/user-index.html"><i class="icon-user"></i> 注册用户</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/user-manager.html"><i class="icon-key"></i> 管理员</a>
        </li>
    </ul>
</li>
<li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-microphone"></i> 发布系统</a>
    <ul class="nav-dropdown-items">
        <li class="nav-item">
            <a class="nav-link" href="/admin/job-index.html"><i class="icon-briefcase"></i> 职位管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/job-fair.html"><i class="icon-paper-plane"></i> 招聘会</a>
        </li>
    </ul>
</li>
<li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-folder"></i> 招聘系统</a>
    <ul class="nav-dropdown-items">
        <li class="nav-item">
            <a class="nav-link" href="/admin/recruit-index.html"><i class="icon-note"></i> 简历进程</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/resume-index.html"><i class="icon-book-open"></i> 简历库</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/recruit-other.html"><i class="icon-envelope-letter"></i> 其他渠道进度反馈</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/file-index.html"><i class="icon-doc"></i> 文件管理</a>
</li>
